/*
 Thanks to Bootstrap starter template
 https://getbootstrap.com/docs/4.0/examples/starter-template/
*/
#carouselSlides {
	width: 200px; 
}
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
#logo {
	margin-right: 10px;
	margin-left: 15px; 
	width: 35px; 
	height: 35px;
}
#searchButton {
	margin-right: 5px; 
}
#viewDashboard {
	margin-right: 5px; 
}
.card {
	min-width: 13rem;
}
#btnClear {
	margin-right: 5px; 
}
