/*
 Thanks to Bootstrap starter template
 https://getbootstrap.com/docs/4.0/examples/starter-template/
*/
body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
#logo {
	margin-right: 10px;
	margin-left: 15px; 
	width: 35px; 
	height: 35px;
}
#searchButton {
	margin-right: 5px; 
}
#btnClear {
	margin-right: 5px; 
}