/*
 Thanks to Bootstrap starter template
 https://getbootstrap.com/docs/4.0/examples/starter-template/
 and Bootstrap's side bar example
 https://getbootstrap.com/docs/4.0/examples/dashboard/
*/
body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
#logo {
	margin-right: 10px;
	margin-left: 15px; 
	width: 35px; 
	height: 35px;
}
#searchButton {
	margin-right: 5px; 
}
#viewDashboard {
	margin-right: 5px; 
}
.card {
	min-width: 13rem;
	max-width: 16rem; 
}
#btnClear {
	margin-right: 5px; 
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}
p {
     width: 230px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     padding-right: 10px;
}
